*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(40, 65, 37);
}

.container{
    margin: auto;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 7rem;
}

.cell{
    display: flex;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
}

.cell_100{
    width: calc(100% / 10);
    height: 70px;
}
.cell_81{
    width: calc(100% / 9);
    height: 77.77px;
}
.cell_49{
    width: calc(100% / 7);
    height: 100px;
}
.blue{
    background-color: skyblue;
}

.red{
    background-color: red;
}

h1{
    text-align: center;

    margin-bottom: -6rem;
    color: red;
}
