*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(40, 65, 37);
}

.container{
    margin: auto;
    width: 900px;
    display: flex;
    flex-wrap: wrap;

}

.cell{
    display: flex;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
}

.cell_100{
    width: calc(100% / 10);
    height: 90px;
}
.cell_81{
    width: calc(100% / 9);
    height: 100px;
}
.cell_49{
    width: calc(100% / 7);
    height: 128.56px;
}
.blue{
    background-color: skyblue;
}

.red{
    background-color: red;
}